[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
keras = "*"
sklearn = "*"
"h5py" = "*"
pandas = "*"
tensorflow = "*"
vtk = "*"
"pyqt5" = "*"


[dev-packages]

